langchain-ollama==0.2.2
pytubefix==8.12.1
yt-dlp==2025.2.19
whisper
agentops==0.3.26
google-api-python-client==2.159.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
alembic==1.14.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
twilio==9.4.6
python-multipart==0.0.20

